<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OffSite</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="../../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom fonts for this template -->
  <!--<link href="../../../assets/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    Custom styles for this template -->
  <!-- <link href="../../../assets/css/home.css" rel="stylesheet"> -->

</head>

<body id="page-top">

   
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">OffSite</h1>
        <h2 class=" mx-auto mt-2 mb-5"> Whatever the facility, OffSite makes it easy for users to book!</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

   

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div id="hi" class="col-xl-8 col-lg-7" >
          <img class="img-fluid mb-3 mb-lg-0" src="../../../assets/images/playground3.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>You’re in good company</h4>
            <p class="text-black-50 mb-0">Hundreds of clubs and organisations use our platform to manage their sports facilities. From sports clubs to local councils, OffSite can benefit your organisation in many ways.</p>
          </div>
        </div>
      </div>
  </div>
</section> 

  <section class="page-section" id="about" style="margin-top: 60px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted" >The easy way to manage bookings for your sports facility</h3>
        </div>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-fluid" src="../../../assets/vendor/img/1.png" alt="">
                 
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading"> 
                  <h4 class="subheading">Bookings</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Want more bookings and less admin?</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-fluid" src="../../../assets/vendor/img/2.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">  
                  <h4 class="subheading">Time</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Save time and manage it all online</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-fluid" src="../../../assets/vendor/img/4.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">  
                  <h4 class="subheading">Payment</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">No more invoicing or chasing payment</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
             <a routerLink='/admin-register'>
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Community!</h4>
              </div>
             </a>  
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Book a sports facility near you</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Search for playgrounds...">
            <button type="submit" class="btn btn-success mx-auto">Search</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div id="fr" class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100" style="height: 300px !important;
          background-color:#c0e4ff ">
            <div class="card-body text-center">
              <i class="fas fa-search f" style="color: #4479aa"></i>
              <h4 class="text-uppercase m-0">Find</h4>
              <!-- <hr class="my-4"> -->
              <!-- <div class="small text-black-50">4923 Market Street, Orlando FL</div> -->
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100" style="background-color:#f1f9ff">
            <div class="card-body text-center">
              <i class="fas fa-clipboard-list f" style="color: #4bd870"></i>
              <h4 class="text-uppercase m-0">Book</h4>
              <!-- <hr class="my-4"> -->
               
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100" style="background-color:#c0e4ff">
            <div class="card-body text-center">
              <i class="fas fa-futbol f" style="color: #ff9661" ></i>
              <!-- <i class="fas fa-volleyball-ball f" style="color: #ff9661"></i> -->
              <h4 class="text-uppercase m-0">Play</h4>
              <!-- <hr class="my-4">   -->
            </div>
          </div>
        </div>  
      </div>

      <!--<div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>-->

    </div>
  </section>

  <!-- Footer -->
  <!--<footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; OffSite 2020
    </div>
  </footer>-->

  <!-- Bootstrap core JavaScript -->
  <script src="../../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>
 

</body>

</html>