
#regP{
    background: url('../../../assets/images/slide4.jpg') no-repeat ;
    background-size: cover;
    background-position: center center;
    /* width: 100%; */
    height: 800px;
    position: relative;
    /* top:30px; */
    color: black;
    font-size: x-large;
}

